<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3" >
  <h1 class="h2" >Profile</h1>
  <div class="btn-toolbar mb-2 mb-md-0" *ngIf="false">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<form [formGroup]="profileForm" (ngSubmit)="submit(profileForm.value)" role="form" class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="gender">Gender</label>
      <select class="custom-select" formControlName="gender">
        <option selected>Choose</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label for="category">Category</label>
      <select class="custom-select" formControlName="category">
        <option selected>Choose</option>
        <option value="1">Depression</option>
        <option value="2">Anxiety</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="userName" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control" id="email" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <button class="btn btn-primary float-right" type="submit">Submit</button>
</form>
